@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --Manrope-family: "Manrope", sans-serif;
  --primary-pink: #ff1749;
  --text-dark: #343434;
  --primary-blue: #0074cc;
  --primary-blue-hover: #4d94ff;
  --primary-white: #ffffff;
  --light-dark: #222;
  --light-white: #f8f8f8;
  --light-gray: #999;
}


.formGroup input{
    outline: none;
    appearance: unset !important;
}

.formGroup input::-webkit-outer-spin-button,
.formGroup input::-webkit-inner-spin-button {
  appearance: none !important;
  margin: 0;
}

.formGroup input:focus {
  outline: none;
  box-shadow: none !important;
}

.formGroup {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.formGroup:last-child {
  margin-bottom: 0;
}

.formGroup input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid var(--light-gray);
  padding: 6px 30px;
  font-family: var(--Manrope-family);
  box-sizing: border-box;
  background-color: transparent;
}

.formGroup input::-webkit-input-placeholder,
.formGroup input::-moz-placeholder,
.formGroup input:-ms-input-placeholder,
.formGroup input:-moz-placeholder {
  color: var(--light-gray);
}

.formGroup input:focus {
  border-bottom: 1px solid var(--light-dark);
}

.formGroup input:focus::-webkit-input-placeholder,
.formGroup input:focus::-moz-placeholder,
.formGroup input:focus:-ms-input-placeholder,
.formGroup input:focus:-moz-placeholder {
  color: var(--light-dark);
}

.formGroup label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-dark);
}

.formGroup.invalid label{
  color: #ff1749;
}