@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --Manrope-family: "Manrope", sans-serif;
  --primary-pink: #ff1749;
  --text-dark: #343434;
  --primary-blue: #0074cc;
  --primary-blue-hover: #4d94ff;
  --primary-white: #ffffff;
  --light-dark: #222;
  --light-white: #f8f8f8;
  --light-gray: #999;
}

.signup-image-link {
  font-size: 15px;
  font-weight: 500;
  color: var(--light-dark);
  display: block;
  text-align: center;
}

.signIn-image,
.signUp-image{
    width: 50%;
    overflow: hidden;
    margin: 45px 55px 0px;
}

.signIn-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}


@media screen and (max-width:768px) {
    .signIn-image,
    .signUp-image{
        width: auto;
    }

    .signIn-image {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        order: 2;
    }
}